#confirmar-presenca {
    width: 100vw;
    height: fit-content;

    padding-top: 4rem;
    padding-bottom: 4rem;

    background-color: rgb(114, 157, 248);

    overflow-y: hidden;
}

#area-confirmacao {
    position: relative;
    left: 50%;
    transform: translate(-50%);

    width: 40rem;
    height: 42rem;
    
    border: 0.5rem double white;
    border-radius: 0.5rem;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.area-input {
    display: flex;
    flex-direction:row;

    justify-content: space-evenly;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: AnticDidone;
    font-size: 2rem;
    color: rgb(240, 240, 240);

    width: 80%;

    margin-top: 2rem;
}

.area-input input {
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    
    border-bottom: 0.15rem solid white;
    border-radius: 0.2rem;

    transition: background-color 0.2s;

    font-family: inherit;
    font-size: inherit
}

.area-input input:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.area-input input:focus {
    outline: none
}

.area-input select {
    width: 20rem;
    height: 4rem;

    border-radius: 0.25rem;
    
    text-align: center;

    font-size: 2rem;
    font-family: inherit;
    color: rgb(114, 157, 248)
}

.area-input select:focus {
    outline: none
}

#presente {
    line-height: 4rem;
}

.msg-tempo {
    width: fit-content;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: AnticDidone;
    font-size: 2rem;
    color: rgb(240, 240, 240);

}

#mensagem {
    margin-top: 4rem;
    margin-bottom: 1.5rem
}

#countdown {
    margin-bottom: 3rem;

    padding: 0.5rem;
    border: 0.15rem solid rgb(230, 230, 230);
    border-radius: 1rem;
}

#botao-confirmacao {
    width: fit-content;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-family: AnticDidone;
    font-size: 2rem;
    color: rgb(114, 157, 248);

    padding: 1rem;
    border-radius: 0.25rem;

    cursor: pointer;

    transition: all 0.25s;
}
#botao-confirmacao:hover {
    padding: 1.15rem;

}

@media only screen and (max-width: 768px) {
    #area-confirmacao {
        width: 90%;
        height: fit-content;
        
        padding-top: 10rem;
        padding-bottom: 5rem;

        overflow-y: hidden;
    }

    .area-input {
        width: 95%
    }

    #mensagem {
        text-align: center;
    }

    #botao-confirmacao {
        padding: 2.5%;
        padding-top: 5%;
        padding-bottom: 5%
    }
}
