#info-evento {
    width: 100vw;
    height: 95vh;

    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 0.15rem dashed rgb(100, 100, 100);

    background-color: rgb(114, 157, 248);

    overflow-y: hidden;
}

h1 {
    font-family: Virtual;
    font-size: 7rem;
    font-weight: 100;

    width: 100%;

    text-align: center;
    color: rgb(228, 228, 228);
}

/* ======================= */
#info {
    font-family: AnticDidone;
    color: rgb(228, 228, 228);
    font-size: 1rem;
}

#localizacao {
    position: relative;

    padding: 1rem;
    border-radius: 1rem;

    margin-bottom: 1.5rem;

    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

/* ======================= */

#elementos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: relative;
    top: 40%;
    transform: translateY(-50%);

}

/* info */
#mapa {
    width: 25rem;
    height: 17.5rem;

    border-radius: 1rem;
    border: 0.2rem solid rgb(240, 240, 240);

    margin-top: 2rem;
}


/* slider */

#img-local {
    position: relative;
    left: 50%;
    transform: translateX(-100%);

    height: 26.5rem;
    width: 50%;

    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

#img-local slide {
    position: relative;
    top: 200%;
}

.bt-prox-img-local {
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%)
}

.bt-ant-img-local {
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%)
}

@media only screen and (max-width: 768px) {
    #info-evento {
        height: auto
    }

    #localizacao {
        padding: 0.25rem;
        width: 19rem;

        margin-bottom: 2rem;
    }

    /* =-=-=-=-=-=-=-= */
    #elementos {
        flex-direction: column;
        justify-content: space-between;

        align-items: center;

        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #mapa {
        position: relative;

        min-width: 17rem;
        max-width: 70%;
        min-height: 30rem;
        
        left: 50%;
        transform: translateX(-50%);
    }
    #info {
        text-align: center;
    }
    #img-local {
        position: relative;
        left: 0%;
        transform: translateX(0);

        width: 17rem;
        height: 17rem;
        object-fit: cover;

        border-radius: 100%;
        border-width: 0.5rem;
        border-color: black;
        border-style: double;

    }

}